/*Estilos generales*/
* {
margin: 0;
padding: 0;
font-family: 'Work Sans', sans-serif;
}

body {
  background-image: url(../img/fondoBicicleta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.color {
  background-color: #0084B4;
  color: #fff;
  padding: 1vh 0;
}

i {
  font-size: 8vh;
}

section {
	background-color: #fff;
	margin: 4em;
	padding: 1em;
}

/* Estilos formulario, textarea */
textarea {
	width: 100%;
	color: #4E4D53;
	font-size: 15px;
	border: none;
	margin: 0 auto;
	border-bottom: 2px solid #0084B4;
}

/* Estilos botón Twittear */
#boton:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor de comentarios */
#containerTwits div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
	/*
	La propiedad word-wrap permite que el texto
	ingresado se ajuste a su contenedor
	*/
	word-wrap: break-word;
}

